!!! 5
html(lang="en")
	head
		title WebIRC
		<link rel="stylesheet" type="text/css" href="/style.css">
		<link rel="stylesheet" type="text/css" href="/jquery-ui.css">
		script(type='text/javascript', src='/jquery.js')
		script(type='text/javascript', src='/jquery-ui.js')
		script(type='text/javascript', src='/client.js')
	body
		#container
			h1 WebIRC
			form(method="post", action="/login")
				fieldset
					table
						tr
							td
								label(for="input_username") Username
							td
								input(type="text", id="input_username", name="user[name]")
						tr
							td
								label(for="input_password") Password
							td
								input(type="password", name="user[pass]", id="input_password")
							td
								input(type="submit", id="loginsubmit", value="Login!")

			p#msgbox
